:root{
    --warning: rgb(214, 162, 18);
    --info: rgb(75, 113, 227);
    --danger: #e7514f;
    --succes: #37b068;
}



*{
    font-family: 'General Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



    

h1{
    font-weight: 700;
    font-size: 2.2rem;
}

p{
    font-weight: 400;
    font-size: 1rem;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionbutton{
    position: absolute;
}

.body{
    min-height:  100vh;

}

.box{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container{
    width: 60vw;
    height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 4px 12px;
    border-radius: 13px;
    padding: 2%;
    max-height: 400px;
}

.box-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.box-main p{
    margin-bottom: 15px;
    
}

