:root{
    --warning: rgb(214, 162, 18);
    --info: rgb(75, 113, 227);
    --danger: #e7514f;
    --succes: #37b068;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionbutton{
    position: absolute;
}

.body{
    min-height:  100vh;

}

.box{
    width: 100vw;
    height: 100vh;
    background-color: #a89a99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container{
    border: 1px solid;
}

.box-container{

}
